li.my-calendar-event {
	list-style-type: none;
}

.my-calendar-event-heading {
	margin-left: 2px;
	text-align: center;
	font-weight: bold;
	color: #777;
}

.left-arrow, .right-arrow {
	cursor: pointer;
}

.my-calendar-event {
	margin-bottom: 15px;
}

.my-calendar-event-time {
	width: 80px;
}

.my-calendar-event-type {
	font-weight: bold;
}

div.ui-datepicker-inline {
	width: 100%;
	margin: 0px auto;
}

div.Mrphs-toolBody--sakai-widget-my-calendar div.ui-datepicker {
	border-color: white;
}

div.Mrphs-toolBody--sakai-widget-my-calendar table.ui-datepicker-calendar {
	width: 60%;
	margin: auto;
}

div.Mrphs-toolBody--sakai-widget-my-calendar div.ui-datepicker table.ui-datepicker-calendar td.ui-datepicker-current-day > a {
	border: 1px solid #1d5e74;
	color: black;
}

div.Mrphs-toolBody--sakai-widget-my-calendar div.ui-datepicker table.ui-datepicker-calendar td > a {
	border-color: white;
	background: white;
	text-align: center;
}

div.Mrphs-toolBody--sakai-widget-my-calendar div.ui-datepicker table.ui-datepicker-calendar td > span {
	border-color: white;
	background: white;
	text-align: center;
}

div.Mrphs-toolBody--sakai-widget-my-calendar div.ui-datepicker table.ui-datepicker-calendar td.my-calendar-eventful-day > a {
    background: lightblue;
}

div.Mrphs-toolBody--sakai-widget-my-calendar div.ui-datepicker table.ui-datepicker-calendar td.ui-datepicker-today > a {
	background: #fffa90;
}

div.Mrphs-toolBody--sakai-widget-my-calendar div.ui-datepicker table.ui-datepicker-calendar td.my-calendar-eventful-day.ui-datepicker-today > a {
	background-color: lightgreen;
}

div.my-calendar-events-div {
	margin-bottom: 9px;
}

table.my-calendar-events {
	margin: 0px auto;
}

table.my-calendar-event {
	margin: 0 auto;
	text-align: left;
}

